# Prerequisites
*.d

# Object files
*.o
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.ninja_log
.splache
build.ninja
SCPS_150.97
KERNEL.XFF.*
*.ld


*.iso

/iso
/venv
/asm
/assets
/build

/tools/cc/*

permuter_settings.toml
/nonmatchings

/.vscode

*undefined_funcs_auto.txt
*undefined_syms_auto.txt

compile_commands.json
/__pycache__