# Prerequisites
*.d

# Object files
*.o
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.ninja_log
.splache
build.ninja
SCPS_150.97
SCPS_150.97.*


*.iso

/iso
/venv
/asm
/assets

/tools/cc/*

permuter_settings.toml
/nonmatchings

undefined_funcs_auto.txt
undefined_syms_auto.txt
/.vscode

compile_commands.json
/__pycache__
config/kernel_undefined_funcs_auto.txt
config/kernel_undefined_syms_auto.txt
tools/__pycache__/parse_xff_relocs.cpython-310.pyc
